{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>Total Units: {{ total_units }}</h2>
    <div class="header">
        <button id="addButton">Add Item</button>
        <br>
    </div>
    <ul id="stockList">
        {% for item in stock %}
        <li id="item-{{ item[0] }}">
            {{ item[1] }}x {{ item[0] }}
            <button class="deleteItemButton" data-id="{{ item[0] }}">Delete</button>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="popupForm" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add Stock Item</h2>
        <label for="itemName">Name:</label>
        <input type="text" id="itemName" name="name">
        <br>
        <label for="itemQuantity">Quantity:</label>
        <input type="number" id="itemQuantity" name="quantity">
        <br><br>
        <button id="submitButton">Add</button>
    </div>
</div>

<script>
    $(document).ready(function() {
        var modal = $('#popupForm');
        var span = $('.close');

        $('#addButton').click(function() {
            modal.show();
        });

        span.click(function() {
            modal.hide();
        });

        $(window).click(function(event) {
            if (event.target == modal[0]) {
                modal.hide();
            }
        });

        $('#submitButton').click(function() {
            var name = $('#itemName').val();
            var quantity = $('#itemQuantity').val();

            $.ajax({
                url: '{{ url_for("add_stock_item") }}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({name: name, quantity: quantity}),
                success: function(response) {
                    if (response.success) {
                        location.reload();
                    }
                }
            });
        });

        $('.deleteItemButton').click(function() {
            var item_id = $(this).data('id');

            $.ajax({
                url: '{{ url_for("delete_stock_item") }}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({item_id: item_id}),
                success: function(response) {
                    if (response.success) {
                        $('#item-' + item_id).remove();
                    } else {
                        alert(response.error);
                    }
                }
            });
        });
    });
</script>
{% endblock %}
